/* debugging
* {
  border: 1px solid #c51f5d;
  margin: 4px;
} */

/* currently using: https://www.color-hex.com/color-palette/389 */
:root {
  --background: #23272a;
  --tile: #2c2f33;
  --tile2: #99aab5;
  --accent: #7289da;
  --text: #ffffff;
}

.container {
  background-color: var(--background);
  color: var(--text);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.grid_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  letter-spacing: 0.02em;
}

#main {
  font-size: 3.2em;
}

.flex_item {
  display: flex;
  background-color: var(--tile);
  justify-content: space-between;
}

.nav_item {
  color: var(--text);
  text-decoration: none;
}

.nav_item:visited {
  color: var(--accent);
}

.nav_title_text {
  font-size: 1.2em;
}

.button_library {
  justify-content: space-around;
  padding: 15px;
}

/* first button */
.button_1 {
  width: 140px;
 height: 45px;
 font-size: 23px;
 cursor: pointer;
 border: none;
 outline: none;
 background: transparent;
 color: white;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 700;
 position: relative;
 transition: all 0.5s;
 z-index: 1;
}

.button_1::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 5px;
 height: 100%;
 background-color: var(--accent);
 z-index: -1;
 transition: all 0.5s;
}

.button_1:hover::before {
 width: 100%;
}

.button_1:hover {
 color: black;
}

/* second button */
.button_2 {
 padding: 15px 35px;
 border: 3px solid var(--accent);
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 17px;
 color: #ddd;
 transition: .3s;
 z-index: 1;
}

.button_2::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: var(--accent);
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.button_2:hover::before {
 width: 105%;
}

.button_2:hover {
 color: #111;
}

/* third button */
.button_3, .button_3::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, var(--accent) 5%);
 border: 0;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px var(--text);
 outline: transparent;
 position: relative;
}

.button_3::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "Button";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, var(--text) 3%, var(--text) 5%, var(--accent) 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px var(--text);
 clip-path: var(--slice-0);
}

.button_3:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}


/* checkbox */
.cbx {
 position: relative;
 top: 1px;
 width: 27px;
 height: 27px;
 border: 1px solid var(--accent);
 border-radius: 3px;
 vertical-align: middle;
 transition: background 0.1s ease;
 cursor: pointer;
 display: block;
}

.cbx:after {
 content: '';
 position: absolute;
 top: 2px;
 left: 8px;
 width: 7px;
 height: 14px;
 opacity: 0;
 transform: rotate(45deg) scale(0);
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
 transition: all 0.3s ease;
 transition-delay: 0.15s;
}

.lbl {
 margin-left: 5px;
 vertical-align: middle;
 cursor: pointer;
}

#cbx:checked ~ .cbx {
 border-color: transparent;
 background: var(--accent);
 animation: jelly 0.6s ease;
}

#cbx:checked ~ .cbx:after {
 opacity: 1;
 transform: rotate(45deg) scale(1);
}

.cntr {
 position: relative;
}

@keyframes jelly {
 from {
  transform: scale(1, 1);
 }

 30% {
  transform: scale(1.25, 0.75);
 }

 40% {
  transform: scale(0.75, 1.25);
 }

 50% {
  transform: scale(1.15, 0.85);
 }

 65% {
  transform: scale(0.95, 1.05);
 }

 75% {
  transform: scale(1.05, 0.95);
 }

 to {
  transform: scale(1, 1);
 }
}

.hidden-xs-up {
 display: none!important;
}

.footer {
  background-color: var(--tile);
  height: 3vh;
}

.footer_text {
  text-align: center;
}
